<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Troubleshooting</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Windows 7/10</11/h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Windows server 2008/2013/2016/2019/2022</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">MS Entra (usage)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Active Directory / Group Policy (usage)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Powershell</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Exchange onPrem - Exchange Cloud (Mgmt of groups/users/contacts/...) </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Ansible/Jenkins/AWX</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
    </div>
</section>
<!--//skills-section-->
